<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'head/metadata.njk' %}
  <link rel="stylesheet" href="https://use.typekit.net/{{ site.typekit }}.css">
  <link rel="stylesheet" href="{% webpack 'main.css' %}">
  {# % asset main.css % #}
  {# % asset print.css % #}
  {% include 'head/favicon.njk' %}
  {% include 'head/analytics.njk' %}
</head>
