<div class="mobile-nav nav-show">
  <section class="mobile-nav__section">
    {% include 'mobile/audio.njk' %}
    {% include 'mobile/feedback.njk' %}
  </section>
  <section class="mobile-nav__section">
    {% include 'mobile/pagination.njk' %}
  </section>

</div>
