<div class="mobile-nav nav-show">
  <section class="mobile-nav__section">
    {% include 'mobile__audio.njk' %}
    {% include 'mobile__feedback.njk' %}
  </section>
  <section class="mobile-nav__section">
    {% include 'mobile__pagination.njk' %}
  </section>
</div>
