<nav id="text-nav" class="nav nav--toc">
  <ol class="toc__level1">
    <li class="list-header">
      <span class="chapter-name">Chapter</span>
      <span class="chapter-size">№ of Poems</span>
    </li>
  {# {% set chapters = site.poems | group_by: "category" | sort: "name" %}
  {% for chapter in chapters %}
    {% set category_slug = chapter.name %}
    {% set category = site.data.categories[category_slug] %}
    {% set first_poem = chapter.items.first %}
    {% if chapter.name contains "1" or chapter.name contains "2" %}
      <li>
        <a class="chapter" href="{{ site.baseurl }}{{ first_poem.url }}">
          <span class="chapter-name">{{ category.name }}</span>
          <span class="chapter-size">({{ chapter.size }})</span>
        </a>
      </li>
    {% else %}
      <li>
        <input type="radio" name="accordion-{{ chapter.name }}" id="{{ chapter.name }}">
        <label class="chapter" for="{{ chapter.name }}">
          <span class="chapter-name">{{ category.name }}</span>
          <span class="chapter-size">({{ chapter.size }})</span>
        </label>
        <ol class="toc__level2">
          {% set poems = chapter.items | sort: "order" %}
          {% for poem in poems %}
            <li>
              <a href="{{ site.baseurl }}{{ poem.url }}">{{ poem.title }}</a>
            </li>
          {% endfor %}
        </ol>
      </li>
    {% endif %}
  {% endfor %} #}
  </ol>
</nav>
