<nav id="text-nav" class="nav nav--toc">
  <ol class="toc__level1">
    <li class="list-header">
      <span class="chapter-name">Chapter</span>
      <span class="chapter-size">№ of Poems</span>
    </li>
  {% for chapter in collections.allPoemsGroupedByChapter %}
    {% if loop.index == 1 or loop.index == 2 %}
      {% set chapter_name = categories['chapter-' ~ loop.index].name %}
<li>
  <a class="chapter" href="{{ chapter[0].url }}">
    <span class="chapter-name">{{ chapter_name }}</span>
    <span class="chapter-size">({{ chapter.length }})</span>
  </a>
</li>
  {% else %}
<li>
  <input type="radio" name="accordion-{{ loop.index }}" id="chapter-{{ loop.index }}">
  <label class="chapter" for="chapter-{{ loop.index }}">
    <span class="chapter-name">{{ chapter_name }}</span>
    <span class="chapter-size">({{ chapter.length }})</span>
  </label>
  <ol class="toc__level2">
    {% for poem in chapter %}
<li>
  <a href="{{ poem.url }}">{{ poem.data.title }}</a>
</li>
    {% endfor %}
  </ol>
</li>
  {% endif %}
  {% endfor %}
  </ol>
</nav>
