<nav id="text-nav" class="nav nav--toc">
  <ol class="toc__level1">
    <li class="list-header">
      <span class="chapter-name">Chapter</span>
      <span class="chapter-size">№ of Poems</span>
    </li>
  {% for chapter in collections.allPoemsGroupedByChapter %}
    {% set chapter_name = categories['chapter-' ~ loop.index].name %}
    {% if loop.index == 1 or loop.index == 2 %}
<li>
  <a class="chapter" href="{{ chapter[0].page.url }}">
    <span class="chapter-name">{{ chapter_name }}</span>
    <span class="chapter-size">({{ chapter.length }})</span>
  </a>
</li>
  {% else %}
<li>
  <details class="toc__chapter" name="toc-chapter">
    <summary class="chapter">
      <span class="chapter-name">{{ chapter_name }}</span>
      <span class="chapter-size">({{ chapter.length }})</span>
    </summary>
    <ol class="toc__level2">
      {%- for poem in chapter %}
      <li>
        <a href="{{ poem.page.url }}">{{ poem.data.title }}</a>
      </li>
      {%- endfor %}
    </ol>
  </details>
</li>
  {% endif %}
  {% endfor %}
  </ol>
</nav>
