.callout {
  width: 90%;
  margin: 1.5rem auto;
  padding: 1.5rem 0;
  border: solid #E13A00;
  border-width: 3px 0;

  @include breakpoint($medium) {
    width: 33.33%;
    margin: 6px 1.5rem 1.5rem 0;
    padding-bottom: 0;
    float: left;
    border-bottom-width: 0;
  }

  &__header {
    @extend .sidebar__header;
    margin-top: 0;
  }
}
