.callout {
  width: 90%;
  margin: 1.5rem auto;
  padding: 1.5rem 0;
  border: solid #E13A00;
  border-width: 3px 0;

  @media (min-width: 44em) {
    width: 33.33%;
    margin: 6px 1.5rem 1.5rem 0;
    padding-bottom: 0;
    float: left;
    border-bottom-width: 0;
  }
}

.callout__header {
  /* from .sidebar__header */
  margin-bottom: 0.5rem;
  font-size: 1rem;
  /* override */
  margin-top: 0;
}
