.hero {
  text-align: center;

  @include breakpoint($medium-large) {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    padding: 1rem 4rem;
    text-align: left;
  }

  > * {
    flex: 1;
  }

  &__content {
  }

  &__image {
    display: none;

    @include breakpoint($medium-large) {
      display: block;
    }

    img {
      margin-left: auto;
    }
  }
}
