.poem__meta {
  display: none;

  h5, h6 {
    margin-bottom: 0.5rem;
    font-size: inherit;
  }

  a {
    background-image: none;

    &:hover {
      background-image: none;
    }

    .no-cssgradients & {
      text-decoration: none;
    }
  }

  .to-top {
    display: none;
  }

  @media (min-width: 70em) {
    display: block;
    position: relative;
    flex: 0 0 12.5rem;
    width: 12.5rem;
    z-index: 1;

    .meta-inner {
      position: fixed;
      width: 12.5rem;
      padding-top: 1rem;
      padding-right: 3rem;
    }
  }
}

.meta__audio,
.meta__pagination,
.meta__progress {
  margin-bottom: 1rem;
  /* padding-bottom: 1rem; */
  /* border-bottom: 1px solid rgba(50, 43, 26, 0.5); */
}

.progress {
  position: relative;
  width: 100px;
  height: 100px;
  display: block;

  svg {
    position: absolute;
  }

  /* circles */
  > svg {
    width: 100%;
    height: 100%;

    .animated-circle {
      fill: transparent;
      stroke-width: 40px;
      stroke: var(--color-highlight);
      stroke-dasharray: 126;
      stroke-dashoffset: 126;
    }
  }

  circle {
    fill: rgba(239, 239, 229, 0.8);
    stroke: rgba(225, 58, 0, 0.2);
  }
}

.progress__count {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-dark);
  text-align: center;
  line-height: 100px;
  font-style: italic;
  font-feature-settings: "lnum";
  font-variant-numeric: tabular-nums lining-nums;
}

.progress__control {
  /* from %link-with-hover-highlight */
  background-image: none;
  color: inherit;

  &:hover,
  &:active {
    background-image: none;
    color: var(--color-highlight);
  }

  .no-cssgradients & {
    text-decoration: none;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.is-playing {

    .icon-play {
      opacity: 0;
    }

    .icon-pause {
      opacity: 1;
    }
  }
}

/* Audio module is in 'modules/_audio.css' */
