{# https://github.com/daviddarnes/alembic/blob/master/_includes/site-search.html #}

<form id="search-form" role="search" class="input-group tab__primary-content" action="">
  <input class="input" id="search" type="search" name="search" placeholder="Type something…" autocomplete="off">
  <label for="search" aria-label="Search the site">
    <svg width="20" height="20" class="icon-search"><use xlink:href="#icon-search"></use></svg>
  </label>
</form>

<aside class="tab__desc">
  <p>Search is not case- or diacritic-sensitive (e.g. Ananda = Ānanda).</p>
</aside>

<ul class="search__results" id="search-results">
    <!-- results go here -->
</ul>

<noscript>Please enable JavaScript to use the search form.</noscript>
