<social-share>
  <button type="button" class="tab__label tab__label--action" title="Share" aria-label="Share">
    <svg width="20" height="20" class="icon-share"><use xlink:href="#icon-share"></use></svg>
    <span class="tab__title">Share</span>
  </button>
</social-share>
