<footer id="footer" class="footer">
  <div class="container">
    <div class="footer__section">
      {% include 'site/navigation.njk' %}
    </div>
    <div class="footer__section">
      <p><i>{{ site.title }}</i> is released under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution, Non-Commercial, Share Alike</a> license.</p>
      <p>The project is published by Jonathan S. Walters and Whitman College, and was last updated on <a href="{{ site.repository }}">{% siteUpdateDateTime %}</a>.</p>
    </div>
  </div>
</footer>
