<p>We welcome your feedback on this translation, as well as on technical and other aspects of the project.</p>
<p>Please use one of the following methods to provide feedback:</p>
<p class="alert">Note: a <a href="https://help.github.com/articles/signing-up-for-a-new-github-account" target="_blank">free Github account</a> is required for options #1 & #2.</p>
<ol>
  <li>
    <h3>Open an Issue on Github</h3>
    <p>If you detect a bug or would like to provide technical feedback, you can <a href="{{ site.repository }}/issues" target="_blank">open an issue</a> in our <a href="{{ site.repository }}" target="_blank">Github repository</a>.</p>
    <p>Check that the issue has not already been opened, then click "New Issue" and provide a detailed description of the problem.</p>
  </li>
  <li>
    <h3>Suggest an Edit on Github</h3>
    <p>To suggest a specific change to the translation, navigate to the relevant poem in the <a href="{{ site.repository }}" target="_blank">Github repository</a>, click “History”, then click on the most recent commit. Find the line you would like to revise, click it, and fill out the comment box that opens below. We will review your feedback and incorporate it into the text if appropriate.</p>
    <p>Those more familiar with Github are also invited to fork the repository and submit a specific change via pull request.</p>
  </li>
  <li>
    <h3>Send an email</h3>
    <p>Contact <a href="mailto:walterjs@whitman.edu" target="_blank">Jonathan S. Walters</a> for translation-related or general queries. For technical questions or comments, contact <a href="mailto:{{ site.author.email }}" target="_blank">Dana Johnson</a>.</p>
  </li>
</ol>
