{% comment %}https://gist.github.com/budparr/3e637e575471401d01ec{% endcomment %}

{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[the_collection] %}
{% endif %}

{% for links in document %}
  {% if links.url == page.url %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
      {% assign prevnumber = prev.order %}
      {% unless prev.category == page.category %}
        {% if prev.category contains "3" or prev.category contains "4" %}
          {% assign prevcat = prev.category %}
          {% assign prevchapter = site.data.categories[prevcat] %}
        {% endif %}
      {% endunless %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
      {% assign nextnumber = next.order %}
      {% unless next.category == page.category %}
        {% if next.category contains "3" or next.category contains "4" %}
          {% assign nextcat = next.category %}
          {% assign nextchapter = site.data.categories[nextcat] %}
        {% endif %}
      {% endunless %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<section class="meta__pagination">
  {% if prevurl %}<h5>Previous poem:</h5><a href="{{ prevurl }}">{% if prevchapter %}{{ prevchapter.name | append: " / " }}{% endif %}{% if prevnumber %}{{ prevnumber | append: ". " }}{% endif %}{{ prevtitle }}</a>{% endif %}
  {% if nexturl %}<h5>Next poem:</h5><a href="{{ nexturl }}">{% if nextchapter %}{{ nextchapter.name | append: " / " }}{% endif %}{% if nextnumber %}{{ nextnumber | append: ". " }}{% endif %}{{ nexttitle }}</a>{% endif %}
</section>
