{% if page.audio.file %}
  {% assign chapter = page.category %}
  {% assign file = page.audio.file %}
  <section class="meta__audio">
    <h5>Listen to Poem:</h5>
    <audio id="html5-audio" ontimeupdate="audioProgress()" preload="auto" controls>
      <source src="{{ site.baseurl }}/public/audio/{{ chapter }}/{{ file }}" type="audio/mpeg">
      Your browser does not support this feature.
    </audio>
    <div class="audio-player">
      <div id="audio-progress" class="progress">
        <svg>
          <circle cx="0" cy="0" r="20" class="animated-circle" transform="translate(50,50) rotate(-90)" />
          <circle cx="0" cy="0" r="38" transform="translate(50,50)" />
        </svg>
        <a href="#" id="audio-control" class="progress__control audio-control">
          <svg class="icon-play"><use xlink:href="#icon-play"></use></svg>
          <svg class="icon-pause"><use xlink:href="#icon-pause"></use></svg>
        </a>
      </div>
      <div class="audio-player__extras">
        <a id="audio-rewind" class="audio-rewind" href="#">
          <svg class="icon-rewind"><use xlink:href="#icon-rewind"></use></svg>
          <span class="screen-reader-text">Rewind audio 10 seconds</span>
        </a>
        <a href="{{ site.baseurl }}/public/audio/{{ file }}" download="walters_{{ site.title | slugify }}_{{ file }}">
          <svg class="icon-download"><use xlink:href="#icon-download"></use></svg>
          <span class="screen-reader-text">Download MP3 of poem recitation</span>
        </a>
      </div>
      <div class="audio-player__info">
        <input type="checkbox" id="audio-info" name="audio-info">
        <label for="audio-info" title="Audio info" aria-label="View information about this audio track">
          <svg class="icon-info"><use xlink:href="#icon-info-circled"></use></svg>
          <span class="tab__title">Audio information</span>
        </label>
        <div class="audio-player__info__content">
          {% include audio-info.html %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
