{% comment %}https://gist.github.com/budparr/3e637e575471401d01ec{% endcomment %}

{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[the_collection] %}
{% endif %}

{% for links in document %}
  {% if links.url == page.url %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% unless prev.category == page.category %}
        {% if prev.category contains "3" or prev.category contains "4" %}
          {% assign prevcat = prev.category %}
          {% assign prevchapter = site.data.categories[prevcat] %}
        {% endif %}
      {% endunless %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
      {% unless next.category == page.category %}
        {% if next.category contains "3" or next.category contains "4" %}
          {% assign nextcat = next.category %}
          {% assign nextchapter = site.data.categories[nextcat] %}
        {% endif %}
      {% endunless %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

{% if prevurl %}
<a href="{{ prevurl }}">
  <svg class="icon-left"><use xlink:href="#icon-left"></use></svg>
  Previous
</a>
{% endif %}
{% include meta__to-top.html %}
{% if nexturl %}
<a href="{{ nexturl }}">
  Next
  <svg class="icon-right"><use xlink:href="#icon-right"></use></svg>
</a>
{% endif %}
