<!-- https://gist.github.com/budparr/3e637e575471401d01ec -->

{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[the_collection] %}
{% endif %}

{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<aside class="poem__meta">
{% if prevurl %}<a href="{{ prevurl }}"><h5>Previous poem:</h5><br />{{ prevtitle l}}</a>{% endif %}
{% if nexturl %}<a href="{{ nexturl }}"><h5>Next poem:</h5><br />{{ nexttitle }}</a>{% endif %}
</aside>
