<section class="tab__primary-content">
  <p>
    <label class="small">Share this poem via:</label>
    <svg class="icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    <a class="button js-social-share" href="https://facebook.com/sharer.php?u={{ site.url | url_encode }}{{ page.url | url_encode }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
    <svg class="icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    <a class="button js-social-share" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url | url_encode }}{{ page.url | url_encode }}&via={{ site.title }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    <svg class="icon-mail"><use xlink:href="#icon-download"></use></svg>
    <a class="button js-social-share" href="mailto:?subject={{ page.title }}&amp;body=Check out the poem {{ page.title }} at {{ site.url }}{{ page.url }}.">E-mail</a>
  </p>

  <form>
    <label for="permalink" name="Get permalink" class="small">Permalink:</label>
    <input id="permalink" class="text" type="text" name="Permalink" value="{{ site.url }}{{ page.url }}" readonly="readonly">
  </form>
</section>
