<nav id="site-nav" class="nav tab__primary-content">
  <ul>
    <li>
      <a href="/">
        <h5>
          <svg class="icon-home"><use xlink:href="#icon-home"></use></svg>
          <span>Project Homepage</span>
        </h5>
      </a>
    </li>
    {% for link in site.data.navigation.site-nav %}
      {% assign class = nil %}
      {% if page.url contains link.url %}
        {% assign class = 'is--active' %}
      {% endif %}
      <li>
        <a href="{{ site.url }}{{ link.url }}" class="{{ class }}">
          <h5>{{ link.title }}</h5>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
