<section class="tab__primary-content">
  <p>
    <svg class="icon--large icon-pdf"><use xlink:href="#icon-pdf"></use></svg>
    <a href="#" class="button">Scholarly Edition</a>
  </p>
  <p>
    <svg class="icon--large icon-pdf"><use xlink:href="#icon-pdf"></use></svg>
    <a href="#" class="button">Lite Edition</a>
  </p>
</section>

<aside class="tab__desc">
  <p>Download a <abbr>PDF</abbr> of this poem.</p>
  <p>You can also download the complete text of <i>The Book of Buddhist Legends</i> in eBook, Mobi, and <abbr>PDF</abbr> formats by visiting the <a href="{{ site.url }}/download" title "Go to Downloads page">Downloads</a> page.</p>
</aside>
