Abrahmacariyam pahaya brahmacari samano gotamo aracari virato methuna gamadhamma'ti. Majjhimasilam. Santi, bhikkhave, eke samanabrahmana antanantika antanantam lokassa pannapenti catuhi vatthuhi. Neva hoti na na hoti tathagato param marana'ti iti te nam byakareyyam.

So kho, bho, atta yato kayassa bheda ucchijjati vinassati, na hoti param marana, ettavata kho, bho, ayam atta samma samucchinno hoti'ti. Ye hi keci, bhikkhave, samana va brahmana va uddhamaghatanika nevasanninasannivada uddhamaghatanam nevasanninasannim attanam pannapenti.
