Evam me sutam. Sassatavado. Tatra, bhikkhave, ye te samanabrahmana uddhamaghatanika nevasanninasannivada uddhamaghatanam nevasanninasannim attanam pannapenti atthahi vatthuhi. Jatipaccaya jaramaranam sokaparidevadukkhadomanassupayasa sambhavanti. Tatra, bhikkhave.

Tatra, bhikkhave, ye te samanabrahmana antanantika antanantam lokassa pannapenti catuhi vatthuhi, tadapi phassapaccaya. Arupi atta hoti arogo param marana sanni'ti nam pannapenti. Ekodibhavam avitakkam avicaram samadhijam pitisukham dutiyam jhanam upasampajja viharati.
