---
---

{{ reference }}{% if {{links.pdf}} %} [<svg width="20" height="20" class="icon-pdf"><use xlink:href="#icon-pdf"></use></svg><a href="{{links.pdf}}" target="_blank"><abbr>PDF</abbr></a>]{% endif %}
