<!DOCTYPE html>
<html lang="en">

  {% include 'head.njk' %}

  <body>

    {% include 'head/analytics--noscript.njk' %}
    {% include 'svg-sprite.njk' %}

    <div class="content">
      {% include 'site/header.njk' %}
      <main role="main">
        <div class="container">
          {{ content | safe }}
        </div>
      </main>
      {% include 'site/footer.njk' %}
    </div>

    <script src="{% webpack 'main.js' %}"></script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>
</html>
