---
layout: default
---

<article class="page has-notes" itemscope itemtype="http://schema.org/Article">
  <header class="page__header">
    <h1 class="page__title" itemprop="name">{{ page.title }}</h1>
  </header>
  <div class="page__content" itemprop="articleBody">
    {{ content | safe }}
  </div>
  <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Jonathan S. Walters">
  </span>
  {% if page.date %}<meta itemprop="dateModified" content="{{ page.date }}">{% endif %}
</article>
