<!-- Template for pandoc -->
<!-- based on https://github.com/edsl/endefensadelsl.org/blob/queue/src/layouts/toc.html -->
$if(toc)$
<nav id="$idprefix$TOC">
<h2>Table of Contents</h2>
$toc$
</nav>
$endif$
$body$
