<!DOCTYPE html>
<html lang="en">

  {% include 'head.njk' %}

  <body>
    <a href="#poem-content" class="screen-reader-text">Skip to main content</a>

    {% include 'analytics--noscript.njk' %}
    {% include 'svg-sprite.njk' %}

    <div class="content" id="content">
      {% include 'poem__header.njk' %}
      {% include 'mobile.njk' %}
      <main role="main" id="poem">
        <div class="container flex">
          {% include 'poem__meta.njk' %}
          <article class="poem" itemscope itemtype="http://schema.org/Article">
            <meta itemprop="name" content="{{ page.title }}">
            <div id="poem-content" class="poem__content" itemprop="articleBody">
              {{ content | safe }}
            </div>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="Jonathan S. Walters">
            </span>
            {% if page.date %}<meta itemprop="dateModified" content="{{ page.date }}">{% endif %}
          </article>
          {% include modal.html title="Feedback" content="feedback.md" %}
        </div>
      </main>
      {% include 'site__footer.njk' %}
    </div>

    {# % asset main.js async % #}

  </body>
</html>
