---
layout: null
sitemap: false
permalink: "/search.json"
---

[
  {% for poem in collections.allPoems %}
    {
      "title": "{{ poem.data.title }}",
      "url": "{{ poem.page.url }}",
      "content": "{{ poem.content | strip_html }}",
      "chapter": "{{ categories[poem.data.category].name }}",
      "order": "{{ poem.data.order }}"
    }{% if not loop.last %},{% endif %}
  {% endfor %}
]
