@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


#poem {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

#content.is-exiting {
  #poem {
    animation-direction: alternate-reverse;
  }
}
