// ===================================
// General Navigation
// ===================================
.header, .footer {
  width: 100%;
  font-family: "skolar-sans-latin-extended", sans-serif;
  font-size: $nav-font-size;

  ul {
    list-style: none;
    margin-bottom: 0;
  }
}

.nav {

  ul {
    padding-left: 0;
  }

  a {
    @extend %link-with-hover-highlight;
  }

  // show/hide on scroll for mobile
  @include breakpoint($small-only) {
    &-show {
      transform: translateY(0px);
    }

    &-below {
      transform: translateY(100%);
    }
  }
}

.button {
  @include reset-link();
  margin-right: 1rem;
  padding: 0.2rem 0;
  color: palette(dark);
  font-weight: bold;
  box-shadow: inset 0 -3px 0 palette(highlight);
}

// ===================================
// Base Header Navigation
// ===================================
.header {

  &--poem {
    position: fixed;
    top: 0;
    height: $header-height;
    background-color: transparent;
    transform: translateY(0px);
    transition: transform 0.5s ease 0.75s;
    z-index: 1;

    .wf-loading & {
      transform: translateY(-100%);
    }

    @include breakpoint($large) {
      display: flex;
    }
  }
}

// ===================================
// Footer Navigation
// ===================================
.footer {
  color: palette(light);
  background-color: palette(highlight);

  a {

    &:hover {
      color: inherit;
    }
  }

  p {
    @include breakpoint($medium) {
      text-align: right;
    }
  }

  .container {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding: 2rem 0;

    @include breakpoint($medium) {
      flex-direction: row;
    }
  }

  &__section {
    justify-content: center;
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
    position: relative;
    list-style: none;

    .wf-loading & {
      visibility: hidden;
    }

    &:last-child {
      padding: 1rem 25% 1rem 1rem;

      a {
        @include text-link($color: palette(light), $hover: palette(light), $offset: 4px);
      }

      @include breakpoint($medium) {
        padding: 1rem;
      }

      @include breakpoint($large) {
        padding: 0 0 0 25%;
      }
    }
  }
}

// ===================================
// Navigation Menus
// ===================================
.nav {

  // Header & Footer styles
  // .nav--site
  &--site {
    font-weight: bold;
    text-align: center;

    > ul {
      display: flex;

      > li {
        padding: 1rem;
        text-align: left;

        // second-level nav
        > ul {
          font-weight: normal;

          > li {
            padding-top: 0.25rem;
          }
        }
      }
    }

    // Site Header only
    .header--site & {
      > ul > li {
        position: relative;
        padding: 0 1rem;

        > ul {
          position: absolute;
          opacity: 0;
          width: 8rem;
          padding: 0 1rem 0.5rem;
          transform: translateY(-50%);
          transition: all 0.3s ease;

          > li {
            padding-top: 0.5rem;
          }

          @include breakpoint($medium-large) {
            padding: 0;
          }
        }

        &:hover, &:focus {

          > ul {
            opacity: 1;
            background-color: white;
            transform: translateY(0);

            @include breakpoint($medium-large) {
              background: none;
            }
          }
        }
      }
    }

    // Poem header only
    .header--poem & {
      >ul {
        flex-direction: column;
      }

      a {
        display: block;

        &:hover, &:focus {
          color: inherit;
        }
      }
    }

    // Footer only
    .footer & {
      > ul {
        flex-wrap: wrap;

        > li {
          flex: 1 0 50%;
        }
      }
    }
  }
}

#tab-menu {
  color: palette(light);
  background-color: palette(highlight);
}

// ===================================
// Top Bar (w/ Site and Poem variants)
// ===================================
.top-bar {
   display: flex;
   position: relative;
   align-items: baseline;
   width: 100%;
   height: 100%;

   &--site {
     max-width: $container-width;
     margin: 0 auto;
     flex-direction: column;

     .wf-loading & {
       visibility: hidden;
     }

     @include breakpoint($medium-large) {
       flex-direction: row;
     }
   }

   &--poem {
     flex: 2;
     color: palette(light);
     background-color: palette(dark);
     z-index: 101;
   }

   &__section {
     display: flex;
     justify-content: center;
     width: 100%;
     flex: 1;
     flex-wrap: wrap;
     position: relative;
     list-style: none;

     .top-bar--site & {

       &:last-child {
         @include breakpoint($medium-large) {
           justify-content: flex-end;
         }
       }
     }

     .top-bar--poem & {

       @include breakpoint($large) {
         display: none;
       }
     }
   }
 }

.title-wrap {

  .top-bar--poem & {
    flex-grow: 4;
    align-self: center;

    & + .top-bar__section {
      order: -1;
    }

    @include breakpoint($large) {
      display: block;
    }
  }

  @include breakpoint($medium-large) {
    justify-content: flex-start;
  }
}

.header__title {
  margin: 0;
  padding: 1rem;
  font-family: $root-font-family;
  font-weight: normal;

  a {
    @extend %link-with-hover-highlight;
  }
}

// ===================================
// Poem Navigation
// ===================================
.menu {
  display: none;

  + label {
    cursor: pointer;
    display: block;
    padding: 1em;
    user-select: none;

    &:hover, &:focus {
      color: palette(highlight);
    }
  }

  &:checked + label {
    color: palette(highlight);
  }
}

.tab-group {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  opacity: 0;
  left: 0;
  width: 100%;
  color: palette(dark);
  background-color: palette(light);
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 0.3s ease;

  &[data-tab=on] {
    position: relative;
    opacity: 1;
    top: 0;
    box-shadow: 0 0px 5px 0px rgba(50,43,26,0.30);
    transform: translateY(0px);
    z-index: 100;
  }

  @include breakpoint($large) {
    position: relative;
    opacity: 1;
    top: 0;
    transform: translateY(0px);
    z-index: 100;

    &#tabGroupNavigation {
      order: -1;
      flex: 1;
    }

    &#tabGroupTools {
      flex: 2;
    }
  }
}

.tab {
  display: none;

  $max-tab-count: 4;

  @for $i from 1 through $max-tab-count {

    &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
      position: relative;
      top: 0;
      transform: translateY(0px);

      @include breakpoint($large) {
        position: absolute;
        top: $header-height;
      }
    }
  }

  &:checked + label {
    color: palette(light);
    background-color: palette(highlight);
  }

  + label {
    cursor: pointer;
    display: block;
    width: 25%;
    padding: 1em;
    color: palette(dark);
    background-color: palette(light);
    text-align: center;
    user-select: none;

    &:hover, &:focus {
      color: palette(light);
      background-color: palette(highlight);
    }

    @include breakpoint($large) {
      flex: 1;
      color: palette(light);
      background-color: palette(dark);
    }
  }

  &__title {
    display: none;
    margin-left: 0.25rem;
    font-size: 0.75rem;

    @include breakpoint($medium) {
      display: inline-block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    position: absolute;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    padding: 1.5rem;
    background-color: white;
    border: solid palette(highlight);
    border-width: 5px 0;
    transition: transform 0.8s ease;
    z-index: -1;

    @include breakpoint($large) {
      flex-direction: row;
    }

    & > * {
      width: 100%;
    }
  }

  &__primary-content {

    @include breakpoint($large) {
      flex: 1;
      align-self: flex-start;
    }
  }

  &__desc {
    flex: 1;
    margin-top: 1rem;
    font-family: "skolar-sans-latin", sans-serif;

    @include breakpoint($large) {
      margin-top: 0;

      .input-group + & {
        margin-top: 0.5rem;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

#tab-toc {
  @include breakpoint($large) {
    width: 30rem;
  }
}

// ===================================
// Table of Contents
// ===================================
.nav {

  &--toc {
    width: 100%;
    font-family: $root-font-family;
    font-feature-settings: "lnum";
    @include font-variant('numeric', 'lining-numbers');

    @include breakpoint($large) {
      float: left;
    }

    ol {
      margin-bottom: 0;
      padding-left: 0;
      counter-reset: chapter;
    }

    li {
      display: table;
      width: 100%;
      counter-increment: chapter;

      &:before {
        display: table-cell;
        position: relative;
        width: 2rem;
      }
    }

    input[type='radio'] {
      display: none;

      &:checked {

        & + label {
          color: palette(highlight);

          & > .icon-plus {
            display: none;
          }

          & > .icon-minus {
            display: inline-block;
          }
        }

        & ~ .toc__level2 {
          max-height: 15.75rem;
          overflow-y: auto;
          padding-bottom: 0.5rem;
          z-index: 10;
        }
      }
    }
  }
}

.toc {

  &__level1 {
    position: relative;
    padding-left: 0;
    list-style: none;

    > li {

      &:before {
        content: counters(chapter, ".", upper-roman) ". ";
        background: palette(light);

        #tab-toc & {
          background: white;
        }
      }

      &.list-header {
        font-weight: bold;
        font-style: italic;
        counter-increment: none;
        border-bottom: none !important;

        &:before {
          display: none;
        }
      }

      &:not(:last-child) {
        border-bottom: 2px solid palette(highlight);
      }
    }
  }

  &__level2 {
    position: relative;
    max-height: 0;
    overflow-y: hidden;
    font-size: $nav-font-size;
    transition: max-height 0.8s ease;

    > li {
      padding-bottom: 0.25rem;

      &:before {
        content: counters(chapter, ".") ". ";
      }
    }
  }
}

.chapter {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0.5rem 0;
  user-select: none;

  &:hover,
  &:focus,
  &:active {
    color: palette(highlight);
  }

  & > .icon-minus {
    display: none;
  }

  &-name {
    display: inline-block;
    position: relative;
    padding-right: 1rem;
    background: palette(light);

    #tab-toc & {
      background: white;
    }
  }

  &-size {
    float: right;
    padding-left: 0.5rem;
    background: palette(light);

    #tab-toc & {
      background: white;
    }

    &:before {
      content: "························";
      display: block;
      position: absolute;
      right: 1rem;
      letter-spacing: 0.7rem;
      bottom: 5px;
      z-index: -1;

      li.list-header & {
        display: none;
      }
    }
  }
}

// ===================================
// Scrollbar
// ===================================
.nav--toc {

  ::-webkit-scrollbar {
      width: 0.35rem;
      height: 0.35rem;
  }

  ::-webkit-scrollbar-thumb {
      background: palette(highlight);
  }

  ::-webkit-scrollbar-track {
      background: transparent;
  }
}
