// ===================================
// Basic Typography
// ===================================

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.15;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 1.15;
}

h3 {
  font-size: 1.1rem;
  font-weight: normal;
  font-feature-settings: "c2sc", "smcp", "lnum";
  @include font-variant('caps', 'all-small-caps');
  @include font-variant('numeric', 'lining-numbers');
}

h4 {
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.35;
}

h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: inherit;
}

abbr {
  font-feature-settings: "c2sc", "smcp", "lnum";
  @include font-variant('caps', 'all-small-caps');
  @include font-variant('numeric', 'lining-numbers');

  &[title] {
    cursor: help;
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

aside {
  font-size: 0.8125rem;
}

// ===================================
// Special Typographic Classes
// ===================================
.site-title {
  font-size: 3rem;
}

.subtitle {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: normal;
}

.lead {
  font-size: 1.25rem;
}

.small {
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}

label.small {
  margin-right: 0.5rem;
}

.alert {
  color: palette(highlight);
  font-style: italic;
}
