<button type="button" class="tab__label" aria-controls="tab-toggles" aria-expanded="false" title="Text Features">
  <svg width="20" height="20" class="icon-multiple-pages"><use xlink:href="#icon-multiple-pages"></use></svg>
  <span class="tab__title">Features</span>
</button>

<button type="button" class="tab__label" aria-controls="tab-search" aria-expanded="false" title="Search">
  <svg width="20" height="20" class="icon-search"><use xlink:href="#icon-search"></use></svg>
  <span class="tab__title">Search</span>
</button>

<button type="button" class="tab__label" aria-controls="tab-download" aria-expanded="false" title="Download">
  <svg width="20" height="20" class="icon-download"><use xlink:href="#icon-download"></use></svg>
  <span class="tab__title">Download</span>
</button>

{% include 'tab/share.njk' %}

<div id="tab-toggles" class="tab__content" data-open="false">
  {% include 'tab/toggles.njk' %}
</div>
<div id="tab-search" class="tab__content search" data-open="false">
  {% include 'tab/search.njk' %}
</div>
<div id="tab-download" class="tab__content" data-open="false">
  {% include 'tab/download.njk' %}
</div>
