input[type=text],
input[type=search] {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  appearance: none;
  background: palette(gray);
  border: none;
  outline: none;
  box-shadow: inset 0 0 2px 0 rgba(50,43,26,0.20);
  font-size: 0.8125rem;
  font-family: "skolar-sans-latin-extended", sans-serif;

  & + label {
    position: absolute;
    right: 0.75rem;
    padding-top: 0.5rem;
  }
}

.input-group {
  display: flex;
  align-items: center;
  position: relative;

  @include breakpoint($large) {
    flex-basis: 100%;

    & + .tab__desc {
      flex-basis: 100%;
    }
  }
}
