input[type=text],
input[type=search] {
  width: 90%;
  max-width: 25rem;
  padding: 0.5rem 1rem;
  background: palette(shadow);
  border: none;
  outline: none;
  box-shadow: inset 0 0 2px 0 rgba(50,43,26,0.20);
  font-size: 0.8125rem;
  font-family: "skolar-sans-latin-extended", sans-serif;

  & + label {
    margin-left: 0.5rem;
  }
}
