// ===================================
// Page Layout Styles
// ===================================
.page {

  &__content {
    max-width: 40rem;
    margin: 0 auto;

    @include breakpoint($large) {
      margin: 0;
    }
  }

  &__header {
    @extend .page__content;
    padding-top: 3rem;

    @include breakpoint($large) {
      padding-top: 0;
    }
  }
}

.columns {

  @include breakpoint($medium) {
    column-count: 2;
    column-gap: 2.5rem;
  }
}

// ===================================
// Custom Page Styles
// ===================================

// Homepage
.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  > * {
    flex: 1;
    padding: 1rem 0.5rem;
  }

  @include breakpoint($medium) {
    flex-direction: row;

    > * {
      flex: 1 0 50%;
    }
  }

  &__section {

    @include breakpoint($medium) {
      padding: 1.25rem;
    }

    @include breakpoint($large) {
      padding: 2.5rem;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

// Resources Page
.bibliography {
  @extend .columns;
  padding-left: 1rem;
  break-inside: avoid;

  > li {
    margin-bottom: 1rem;
  }
}

// TOC page
