.container#poem {
  margin-top: 4rem;

  @include breakpoint($medium-large $large) {
    padding-left: 12vw;
  }
}

.poem, .page {

  ::selection {
    color: palette(light);
    background: palette(highlight);
  }
}

.poem {
  max-width: 28.125rem;
  margin: 0 auto;
  padding: 1rem 0;

  a {
    @include reset-link();
  }

  li + li {
    margin-top: .25rem;
  }

  aside, span {
    transition: background-color .2s ease;
  }

  @include breakpoint($medium-large) {
    margin: 0;
  }
}

// Toggle poem elements on/off
[data-state=off] {
  display: none !important;
}

// Highlight poem elements on hover
[data-hover=on] {
  background-color: rgba(palette(highlight), 0.65);
}
