.poem__meta {

  h5 {
    margin-bottom: 0.25rem;
    font-size: inherit;
  }

  a {
    @include reset-link();
  }

  @include breakpoint($large) {
    $poem-meta-large-width: 12.5rem;

    position: fixed;
    flex: 0 0 $poem-meta-large-width;
    width: $poem-meta-large-width;
    padding-top: 1rem;
    padding-right: 3rem;

    & + .poem {
      margin-left: $poem-meta-large-width;
    }
  }
}

.meta {

  &__pagination {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
  }

  &__history {

    a {
      color: inherit;
    }
  }
}

.progress {
  position: relative;
  width: 100px;
  height: 100px;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;

    & .animated-circle {
      fill: transparent;
      stroke-width: 40px;
      stroke: palette(highlight);
      stroke-dasharray: 126;
      stroke-dashoffset: 126;
    }
  }
  circle {
    fill: rgba(palette(light), 0.8);
    stroke: rgba(palette(highlight), 0.2);
  }

  &__count {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: palette(dark);
    font-style: italic;
  }
}

// Timeline of version history
.timeline {
  position: relative;
  padding-left: 1rem;
  font-style: italic;
  list-style-type: none;

  &:before {
    position: absolute;
    top: .5rem;
    bottom: .5rem;
    left: -1px;
    content:"";
    width: 1px;
    background: palette(dark);
  }

  > li {
    position: relative;
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    &:last-child,
    &:hover {
      color: palette(highlight);

      .timeline__marker {
        border-color: palette(highlight);
      }
    }
  }

  &__marker {
    display: block;
    position: absolute;
    top: 0.25rem;
    left: -1.375rem;
    width: 0.75rem;
    height: 0.75rem;
    background: palette(light);
    border: 1px solid palette(dark);
    border-radius: 0.5rem;
  }
}
