// Sidenotes
.sidenote {
  float: right;
  clear: right;
  width: 15.625rem;
  right: -18.75rem;
  margin-left: -100%;

  p {
    margin-bottom: 0.9375rem;
  }
}

// Sidenote number within body text
a[href^="#sn"] {
  font-size: 75%;
  position: relative;
  top: -0.27778rem;
}

.ref-mark {
  float: left;
  margin-right: 0.4em;

  &::after {
    content: "."
  }
}
