// Sidenotes
.sidenote {
  float: right;
  clear: right;
  width: 15.625rem;
  right: -18.75rem;
  margin-left: -100%;
  font-size: 0.6875rem;

  p {
    margin-bottom: 0.6875rem;
  }
}

// Note number within body text
a[href^="#sn"] {
  font-size: 0.75rem;
  position: relative;
  top: -0.3125rem;
}

.ref-mark {
  float: left;
  margin-right: 0.4em;

  &::after {
    content: "."
  }
}
