.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "skolar-sans-latin-extended", sans-serif;
  font-size: $nav-font-size;
  box-shadow: 0 0px 5px 0px rgba(50,43,26,0.30);
  transition: transform 0.5s ease 0.75s;
  z-index: 1;

  &__section {
    display: flex;
    align-items: center;
    width: 100%;
    height: $header-height;
    background-color: white;

    & > a, & > label {
      @extend %link-with-hover-highlight;
      flex: 1;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: white;

      &:hover, &:focus {
        color: palette(light);
        background-color: palette(highlight);
      }
    }
  }

  &__tab {
    @extend %radio-for-dropdown--light;

    &__content {
      @extend %dropup;
      background-color: white;
    }

    &:checked ~ .mobile-nav__tab__content {
      @extend %dropup-is-open;
    }
  }

  .wf-loading & {
    transform: translateY(100%);
  }

  @include breakpoint($large) {
    display: none;
  }
}
