.modal {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transform: translateZ(0);
  transition: opacity .4s ease-out;
  z-index: 99998;

  body[modal-state="is-open"] & {
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.99);
    transition: background-color 0.4s ease-out;
    overflow-y: scroll;
    z-index: 99999;
  }

  &__container {
    opacity: 0;
    @extend .container;
    max-width: 38rem;
    padding: 0;
    transition: opacity .4s .2s ease-out;

    body[modal-state="is-open"] & {
      opacity: 1;
      padding: 2rem 1rem;
    }
  }

  &__toggle {
    padding: 0;
    color: palette(highlight);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: $root-font-family;
    cursor: pointer;
  }
}

body[modal-state="is-open"] {
  // overflow-y: hidden;

  .header--poem {
    z-index: 0;
  }
}
