.poem__meta {
  display: none;
  font-feature-settings: "lnum";

  h5 {
    margin-bottom: 0.25rem;
    font-size: inherit;
  }

  a {
    @include reset-link();
  }

  .to-top {
    display: none;
  }

  @include breakpoint($large) {
    $poem-meta-large-width: 12.5rem;

    display: block;
    position: relative;
    flex: 0 0 $poem-meta-large-width;
    width: $poem-meta-large-width;

    .meta-inner {
      position: fixed;
      width: $poem-meta-large-width;
      padding-top: 1rem;
      padding-right: 3rem;
    }
  }
}

@supports (font-variant-numeric: lining-nums) {

  .poem__meta {
    font-feature-settings: normal;
    font-variant-numeric: lining-nums;
  }
}

.meta {

  &__pagination {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
  }

  &__history {

    a {
      color: inherit;
    }
  }
}

.progress {
  position: relative;
  width: 100px;
  height: 100px;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;

    & .animated-circle {
      fill: transparent;
      stroke-width: 40px;
      stroke: palette(highlight);
      stroke-dasharray: 126;
      stroke-dashoffset: 126;
    }
  }
  circle {
    fill: rgba(palette(light), 0.8);
    stroke: rgba(palette(highlight), 0.2);
  }

  &__count {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: palette(dark);
    font-style: italic;
  }
}
