.poem__meta {
  display: none;
  font-feature-settings: "lnum";
  @include font-variant('numeric', 'lining-nums');

  h5 {
    margin-bottom: 0.5rem;
    font-size: inherit;
  }

  a {
    @include reset-link();
  }

  .to-top {
    display: none;
  }

  @include breakpoint($large) {
    $poem-meta-large-width: 12.5rem;

    display: block;
    position: relative;
    flex: 0 0 $poem-meta-large-width;
    width: $poem-meta-large-width;
    z-index: 1;

    .meta-inner {
      position: fixed;
      width: $poem-meta-large-width;
      padding-top: 1rem;
      padding-right: 3rem;
    }
  }
}

.meta {
  &__audio,
  &__pagination,
  &__progress {
    margin-bottom: 1rem;
    // padding-bottom: 1rem;
    // border-bottom: 1px solid rgba($body-color, 0.5);
  }
}

.progress {
  position: relative;
  width: 100px;
  height: 100px;

  svg {
    position: absolute;
  }

  // circles
  > svg {
    width: 100%;
    height: 100%;

    .animated-circle {
      fill: transparent;
      stroke-width: 40px;
      stroke: palette(highlight);
      stroke-dasharray: 126;
      stroke-dashoffset: 126;
    }
  }
  circle {
    fill: rgba(palette(light), 0.8);
    stroke: rgba(palette(highlight), 0.2);
  }

  &__count {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: palette(dark);
    font-style: italic;
  }

  &__control {
    @extend %link-with-hover-highlight;

    svg {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.is-playing {

      .icon-play {
        opacity: 0;
      }

      .icon-pause {
        opacity: 1;
      }
    }
  }
}

// Audio module
audio {
  display: none;
}

.icon-pause {
  opacity: 0;
}

.audio-player {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__extras {
    display: flex;
    flex-direction: column;
    margin-left: 0.25rem;

    a {
      @extend %link-with-hover-highlight;

      &:first-child {
        margin-bottom: 0.75rem;
      }
    }
  }
}
