/* ===================================
   Layout
   =================================== */

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;
}

.container {
  display: block;
  max-width: var(--container-width);
  margin-left:  auto;
  margin-right: auto;
  padding: 2rem 1rem;
  overflow: auto;
}

.flex {
  display: flex;
  flex-direction: column;

  @media (min-width: 70em) {
    flex-direction: row;
  }
}

aside {
  position: relative;
  vertical-align: top;
}

poem-navigation,
meta-scroll,
poem-toggles,
poem-audio,
to-top-button,
social-share,
nav-menu {
  display: contents;
}
