// ===================================
// Layout
// ===================================

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;
}

.container {
  display: block;
  max-width: $container-width;
  margin-left:  auto;
  margin-right: auto;
  padding: 2rem 1rem;
  overflow: auto;
}

.flex {
  display: flex;
  flex-direction: column;

  @include breakpoint($large) {
    flex-direction: row;
  }
}

aside {
  position: relative;
  vertical-align: top;
}
