// ===================================
// Colors
// ===================================

$palettes: (
    light:           #EFEFE5,
    dark:            #322B1A,
    highlight:       #E13A00,
    gray:            #EBEBEB,
    shadow:          #322b19
);

$site-color-names: map-keys($palettes);

$body-color: palette(dark);
$body-bg: palette(light);
$link-color: palette(highlight);

// ===================================
// Typography
// ===================================
@include embed-font("Skolar PE", "SkolarPE-Regular", normal, normal);
@include embed-font("Skolar PE", "SkolarPE-Italic", normal, italic);
@include embed-font("Skolar PE", "SkolarPE-Bold", bold, normal);
@include embed-font("Skolar PE", "SkolarPE-BoldItalic", bold, italic);
// Skolar Sans added through Typekit

$root-font-family: "Skolar PE", "Times New Roman", serif;
$root-font-size: 14px;
$root-line-height: 1.5;

$medium-font-size: 16px;
$x-large-font-size: 18px;

$nav-font-size: 0.875rem;

// ===================================
// Links
// ===================================
$link-offset: 2px;
$link-underline-opacity: 0.6;
$link-underline-hover-opacity: 0.8;

// ===================================
// Layout
// ===================================
$header-height: 3.5rem;
$container-width: 61rem;

// ===================================
// Breakpoints
// ===================================
$medium: 44em;
$medium-large: 55em;
$large: 70em;
$x-large: 80em;
$small-only: 0 $medium;

// ===================================
// Placeholders
// ===================================

// Links
%link-with-hover-highlight {
  @include reset-link();
  color: inherit;

  &:hover,
  &:active {
    color: palette(highlight);
  }
}

// Dropdowns
%radio-for-dropdown {
  // hide input
  display: none;

  // styles for label
  + label {
    cursor: pointer;
    display: block;
    flex: 1;
    padding: 1em;
    text-align: center;
    user-select: none;
  }
}

%radio-for-dropdown--dark {
  @extend %radio-for-dropdown;

  + label {
    &:hover, &:focus {
      color: palette(highlight);
    }
  }

  &:checked + label {
    color: palette(highlight);
  }
}

%radio-for-dropdown--light {
  @extend %radio-for-dropdown;

  &:checked + label {
    color: palette(light);
    background-color: palette(highlight);
  }

  + label {
    color: palette(dark);
    background-color: palette(light);

    &:hover, &:focus {
      color: palette(light);
      background-color: palette(highlight);
    }

    @include breakpoint($large) {
      flex: 1;
      color: palette(light);
      background-color: palette(dark);
    }
  }
}

%dropdown {
  opacity: 0;
  position: absolute;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

%dropdown-is-open {
  opacity: 1;
  position: relative;
  top: 0;
  transform: translateY(0px);
}

%dropup {
  @extend %dropdown;
  transform: translateY(100%);
}

%dropup-is-open {
  opacity: 1;
  position: absolute;
  bottom: 100%;
  transform: translateY(0px);
}
