/*
 * PRINT STYLES: Expanded from HTML5 Boilerplate print styles.
 * https://raw.githubusercontent.com/msikma/h5bp-print-styles/master/print.scss
 */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  // ===================================
  // @page styles
  // ===================================
  @page {
    // size: letter;
    margin: 0.75in 1in;
  }

  // ===================================
  // General styles
  // ===================================

  html,
  body {
    height: auto;
    font-size: 12px;
  }

  body {
    width: auto;
    border: 0;
    margin: 0;
    padding: 0;
    float: none;
    position: static;
    overflow: visible;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  abbr {
    text-decoration: none;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3 {
    page-break-after: avoid;
  }

  main {
    margin: 0;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  // ===================================
  // Poem & page elements
  // ===================================

  // Hide some screen-specific features
  .header--poem,
  .header--site,
  .poem__meta,
  .mobile-pagination,
  .callout,
  .footer__section:first-child,
  .footer__section:last-child p:last-child
   {
    display: none;
  }

  .poem,
  .page {
    margin: 0;
    padding: 0;
  }

  .poem {
    p {
      page-break-inside: avoid;
    }
  }

  .page {
    &__header,
    &__content {
      width: 60%;
      margin: 0;
    }
  }

  a[href^="#sn"] {
    text-decoration: none;
  }

  a[href^="#fnref"] {
    display: none;
  }

  // sidenotes
  .sidenote {
    float: right;
    clear: right;
    width: 15.625rem;
    right: -18.75rem;
    margin-left: -100%;
  }

  .footer__section:last-child {
    margin-top: 0.5in;
    padding: 0.25in 0 0 0;
    border-top: 1px solid black;

    p {
      text-align: left;
    }
  }
}
