// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
}

body {
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  @include text-link($color: palette(highlight), $hover: palette(highlight), $offset: 4px);
}

img {
  display: block;
  max-width: 100%;
}

.button {
  @include reset-link();
  margin-right: 1rem;
  padding: 0.2rem 0;
  color: palette(dark);
  font-weight: bold;
  box-shadow: inset 0 -3px 0 palette(highlight);
}
