// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  display: flex;
  flex-direction: column;
  max-width: 975px;
  margin-top: 4rem;
  margin-left:  auto;
  margin-right: auto;
  padding: 1rem;

  @include breakpoint($large) {
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

aside {
  position: relative;
  vertical-align: top;
}
