// ===================================
// Layout
// ===================================

.container {
  display: block;
  max-width: $container-width;
  margin-left:  auto;
  margin-right: auto;
  padding: 0 1rem;
  overflow: auto;

  @include breakpoint($large) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.flex {
  display: flex;
  flex-direction: column;

  @include breakpoint($large) {
    flex-direction: row;
  }
}

aside {
  position: relative;
  vertical-align: top;
}
