// ===================================
// Layout
// ===================================

.container {
  display: block;
  max-width: $container-width;
  margin-left:  auto;
  margin-right: auto;
  padding: 0 1rem;
  overflow: auto;

  @include breakpoint($large) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.flex {
  display: flex;
  flex-direction: column;

  @include breakpoint($large) {
    flex-direction: row;
  }
}

aside {
  position: relative;
  vertical-align: top;
}

.sidebar {

  &__header {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  @include breakpoint($large) {
    float: right;
    clear: right;
    width: 15.625rem;
    right: -18.75rem;
    margin-left: -100%;

    &__header {
      margin-top: 0;
    }
  }
}
