// Header
.header {
  width: 100%;
  height: $header-height;
  font-family: "skolar-sans-latin-extended", sans-serif;
  font-size: $nav-font-size;

  ul {
    list-style: none;
    margin-bottom: 0;
  }

  &--poem {
    position: fixed;
    top: 0;
    background-color: transparent;
    transform: translateY(0px);
    transition: transform 0.5s ease 0.75s;
    z-index: 1;

    .wf-loading & {
      transform: translateY(-100%);
    }

    @include breakpoint($large) {
      display: flex;
    }
  }
}

.top-bar {
   display: flex;
   position: relative;
   align-items: baseline;
   width: 100%;
   height: 100%;
   color: palette(light);
   background-color: palette(dark);
   z-index: 101;

   &__section {
     display: flex;
     flex: 1;
     justify-content: center;
     max-width: 100%;
     flex-wrap: wrap;
     position: relative;
     list-style: none;

     &:last-child {
       order: 1;
     }
   }

   @include breakpoint($large) {
     flex: 2;

     &__section {
       display: none;
     }
   }
 }

.title-wrap {
  order: 1;
  flex-grow: 4;
  align-self: center;

  @include breakpoint($large) {
    display: block;
  }
}

.header__title {
  font-family: $root-font-family;
  margin: 0;
  padding: 1rem;
}

.menu {
  display: none;

  + label {
    cursor: pointer;
    display: block;
    padding: 1em;
    user-select: none;

    &:hover {
      color: palette(highlight);
    }
  }

  &:checked + label {
    color: palette(highlight);
  }
}

.tab-group {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  opacity: 0;
  left: 0;
  width: 100%;
  color: palette(dark);
  background-color: palette(light);
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 0.3s ease;

  &[data-tab=on] {
    position: relative;
    opacity: 1;
    top: 0;
    transform: translateY(0px);
    z-index: 100;
  }

  @include breakpoint($large) {
    position: relative;
    opacity: 1;
    top: 0;
    transform: translateY(0px);
    z-index: 100;

    &#tabGroupNavigation {
      order: -1;
      flex: 1;
    }

    &#tabGroupTools {
      flex: 2;
    }
  }
}

.tab {
  display: none;

  $max-tab-count: 4;

  @for $i from 1 through $max-tab-count {

    &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
      position: relative;
      opacity: 1;
      top: 0;
      transform: translateY(0px);

      @include breakpoint($large) {
        position: absolute;
        top: $header-height;
      }
    }
  }

  &:checked + label {
    color: palette(light);
    background-color: palette(highlight);
  }

  + label {
    cursor: pointer;
    display: block;
    width: 25%;
    padding: 1em;
    color: palette(dark);
    background-color: palette(light);
    text-align: center;
    user-select: none;

    &:hover {
      color: palette(light);
      background-color: palette(highlight);
    }

    @include breakpoint($large) {
      flex: 1;
      color: palette(light);
      background-color: palette(dark);
    }
  }

  &__title {
    display: none;
    margin-left: 0.25rem;
    font-size: 0.75rem;

    @include breakpoint($medium) {
      display: inline-block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    position: absolute;
    opacity: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    padding: 1.5rem;
    background-color: white;
    border: solid palette(highlight);
    border-width: 5px 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
    z-index: -1;

    @include breakpoint($large) {
      flex-direction: row;
    }

    & > * {
      width: 100%;
    }
  }

  &__primary-content {

    @include breakpoint($large) {
      flex: 2;
    }
  }

  &__desc {
    flex: 1;
    margin-top: 1.5rem;
    font-family: "skolar-sans-latin", sans-serif;

    @include breakpoint($large) {
      margin-top: 0.5rem;
      margin-left: 1rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
