// Header
.header {
  width: 100%;
  font-family: "skolar-sans-latin-extended", sans-serif;
  font-size: \$nav-font-size;

  ul {
    list-style: none;
    margin-bottom: 0;
  }

  &--poem {
    position: fixed;
    top: 0;
    z-index: 1;
  }
}

.top-bar {
   display: flex;
   position: relative;
   align-items: baseline;
   width: 100%;
   color: palette(light);
   background-color: palette(dark);
   z-index: 101;

   &__section {
     display: flex;
     flex: 1;
     justify-content: center;
     max-width: 100%;
     flex-wrap: wrap;
     position: relative;
     list-style: none;

     &:last-child {
       order: 1;
     }
   }
 }

.title-wrap {
  order: 1;
  flex-grow: 4;
}

.header__title {
  font-family: $root-font-family;
}

.menu {
  display: none;

  + label {
    cursor: pointer;
    display: block;
    padding: 1em;
    user-select: none;

    &:hover {
      color: palette(highlight);
    }
  }

  &:checked + label {
    color: palette(highlight);
  }
}

.tab-group {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  opacity: 0;
  left: 0;
  width: 100%;
  color: palette(dark);
  background-color: palette(light);
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 0.3s ease;

  &[data-tab=on] {
    position: relative;
    opacity: 1;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
  }
}

.tab {
  display: none;

  $max-tab-count: 4;

  @for $i from 1 through $max-tab-count {

    &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
      position: relative;
      opacity: 1;
      top: 0;
      transform: translateY(0px);
    }
  }

  &:checked + label {
    color: palette(light);
    background-color: palette(highlight);
  }

  + label {
    cursor: pointer;
    display: block;
    width: 25%;
    padding: 1em;
    color: palette(dark);
    background-color: palette(light);
    text-align: center;
    user-select: none;

    &:hover {
      color: palette(light);
      background-color: palette(highlight);
    }
  }

  &__title {
    display: none;
  }

  &__content {
    @extend .tab-group;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: white;
    border: solid palette(highlight);
    border-width: 5px 0;
    transform: translateY(-100%);
    transition: opacity 0.8s ease, transform 0.8s ease;

    & > * {
      flex: 1;
      padding: 1em 1.5em;
    }
  }

  &__desc {
    margin-left: 1rem;
    font-family: "skolar-sans-latin", sans-serif;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
