// Masthead

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  background-color: $gray-1;
  z-index: 1;

  ul, ol {
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    font-size: 0;
    list-style-type: none;

    // initial li
    li {
      display: inline-block;
      padding: 0.25rem 1rem;
      position: relative;
      font-size: 0.75rem;

      // secondary ul
      ul, ol {
        display: none;
      }

      // initial li:hover
      &:hover {
        cursor: pointer;

        // secondary ul visibility change
        ul, ol {
          display: block;
          width: 200px;
          left: 0;
          padding-top: 1rem;
          padding-bottom: 1rem;
          position: absolute;
          background-color: white;
          text-align: left;

          // secondary li
          li {
            display: block;
            // background-color: darken($subtle-white, 7%);

            &:hover {
              // background-color: darken($subtle-white, 10%);
            }

            // poem TOC
            ol {
              margin: 0;
              padding: 0;
              position: relative;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}

.header-title {
  margin-top: 0;
  margin-bottom: 0;
  // color: $gray-4;

  a {
    color: inherit;
  }
}
