$color-light: #EFEFE5;
$color-dark: #322B1A;
$color-highlight: #E13A00;
$color-shadow: #EBEBEB;

$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: $color-dark;
$body-bg: $color-light;
$link-color: $color-highlight;

$large-breakpoint: 38em;
$large-font-size: 20px;
