// ===================================
// Colors
// ===================================

$palettes: (
    light:           #EFEFE5,
    dark:            #322B1A,
    highlight:       #E13A00,
    gray:            #EBEBEB,
    shadow:          #322b19
);

$site-color-names: map-keys($palettes);

$body-color: palette(dark);
$body-bg: palette(light);
$link-color: palette(highlight);

// ===================================
// Typography
// ===================================
@include embed-font("Skolar PE", "SkolarPEWeb-Regular", normal, normal);
@include embed-font("Skolar PE", "SkolarPEWeb-Italic", normal, italic);
@include embed-font("Skolar PE", "SkolarPEWeb-Bold", bold, normal);
@include embed-font("Skolar PE", "SkolarPEWeb-BoldItalic", bold, italic);
// Skolar Sans added through Typekit

$root-font-family: "Skolar PE", Georgia, serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$nav-font-size: 0.875rem;
$large-font-size: 20px;

// ===================================
// Links
// ===================================
$link-offset: 2px;
$link-underline-opacity: 0.6;
$link-underline-hover-opacity: 0.8;

// ===================================
// Layout
// ===================================
$header-height: 3.5rem;

// ===================================
// Breakpoints
// ===================================
$medium: 44rem;
$medium-large: 55rem;
$large: 70rem;
