<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include svg-sprite.html %}

    <div class="content" id="content">
      {% include poem__header.html %}
      <main role="main" id="poem">
        <div class="container flex">
          {% include poem__meta.html %}
          {% include poem__mobile-pagination.html %}
          <article class="poem" itemscope itemtype="http://schema.org/Article">
            <meta itemprop="name" content="{{ page.title }}">
            <div class="poem__content" itemprop="articleBody">
              {{ content }}
            </div>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="Jonathan S. Walters">
            </span>
            {% if page.date %}<meta itemprop="dateModified" content="{{ page.date }}">{% endif %}
          </article>
        </div>
      </main>
      {% include site__footer.html %}
    </div>

    {% js main %}

  </body>
</html>
