---
layout: default
---

<div class="poem">
  <h1 class="poem-title">{{ page.title }}</h1>
  {{ content }}
</div>

<!-- <div class="pagination">
  {% if paginator.texts %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous Poem</a>
  {% else %}
    <span class="pagination-item newer">Previous Poem</span>
  {% endif %}
  {% if paginator.texts %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next Poem</a>
  {% else %}
    <span class="pagination-item older">Next Poem</span>
  {% endif %}
</div> -->
